<launch>
<param name="use_sim_time" value="false"/>
<arg name="mp_name" default="moving_platform"/>
<arg name="publish_hz" default="100"/>
  <group ns="$(arg mp_name)">
    <node name="debug_node" pkg="moving_platform_control" type="debug.py" output="screen" >
        <param name = "publish_hz" value = "$(arg publish_hz)" />
        <param name = "mp_name" value = "$(arg mp_name)" />
    </node> 
  </group>  
</launch>